.site-header{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  height: 685px;
}

.custom-logo{
    width: 94px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 327px;
}